@inherits AntDividerComponent

<div class=@ClassString style=@Style>
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <span class=@($"{PrefixCls}-divider-inner-text")></span>
    }
</div>
