@inherits DividerComponent

<div class=@ClassString style=@Style>
    @if (Children != null)
    {
        @Children
    }
    else
    {
        <span class=@($"{PrefixCls}-divider-inner-text")></span>
    }
</div>
